<md-dialog>
        <md-toolbar class="md-hue-1">
            <div class="md-toolbar-tools">
                <h2>Help & How to</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                    <h3>ILI Grade Calculator V0.1</h3>
                <div class="md-inline-form">
                        <md-content flex layout-padding>
                            <p class="md-body-2" layout-margin><md-icon class="md-accent">info</md-icon>
                            How to install webApp?<br/> Click Share icon <img src="img/shareicon.png" class="shareicon"> on your mobile browser and then Tap on "Add to Homescreen"
                            </p>
                      <md-dialog-actions layout="row" layout-align="space-between center">
                        <md-button class="md-raised md-primary" ng-click="cancel()"><md-icon>arrow_back</md-icon>  Close </md-button>
                      </md-dialog-actions>
                    </div>
                    <span class="copyright">by Behzad@airoweb.com</span>
            </div> 
        </md-dialog-content>
    </md-dialog>