<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Grade Calculator | ILI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
</head>

<body ng-app="ILIGCapp">
    <md-toolbar layout="row" layout-align="space-between none">
        <div class="md-toolbar-tools">
            <h2 layout="row">ILI Grade Calculator | Summer 98</h2>
        </div>
    </md-toolbar>
    <div class="md-padding" layout-xs="column" ng-controller="gradeController">
        <form name="gradeForm">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon>record_voice_over</md-icon> Speaking Grades
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row">
                    <md-input-container class="md-block" md-no-float flex>
                        <label>Grade1,Grade2,Grade3,...</label>
                        <input ng-model='sp' name="sp" type="text" required>
                        <div ng-messages="gradeForm.sp.$error">
                            <div ng-message="required">Speaking's grade is required!</div>
                        </div>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon>menu_book</md-icon> Reading Grades
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row">
                    <md-input-container class="md-block" md-no-float flex>
                        <label>Grade1,Grade2,Grade3,...</label>
                        <input ng-model='rd' name="rd" type="text" required>
                        <div ng-messages="gradeForm.rd.$error">
                            <div ng-message="required">Reading's grade is required!</div>
                        </div>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon>edit</md-icon> Writing Grades
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row">
                    <md-input-container class="md-block" md-no-float flex>
                        <label>Grade1,Grade2,Grade3,...</label>
                        <input ng-model='wr' name="wr" type="text" required>
                        <div ng-messages="gradeForm.wr.$error">
                            <div ng-message="required">Writing's grade is required!</div>
                        </div>
                    </md-input-container>
                </md-card-content>
            </md-card>
            <md-card class="md-passed">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            <md-icon class="md-white">check_circle</md-icon> Class Grade : {{finalgrade || ('---')}}
                        </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </form>
        <md-button class="md-fab md-fab-bottom-right" aria-label="Calculator" href="#" ng-click="gradeForm.$valid && calc()">
            <md-icon>check</md-icon>
        </md-button>
        <md-button class="md-fab md-fab-top-right" aria-label="Reset" href="#" ng-click="reset()">
            <md-icon>refresh</md-icon>
        </md-button>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <!-- App scripts -->
    <script src="script.js"></script>
</body>

</html>